<!doctype html>
<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">-->
<meta name="viewport" content="width=device-width, initial-scale=2, shrink-to-fit=yes">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Worth to watch?</title>
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="https://github.com/hnenonen/Intro_to_DS/blob/main/README.md">Report</a>
  </nav>
  <div class="row">
    <div class="col-8">
      <h1>{{worth_watch}}!</h1>
      <p>
        Your movie with the following overview:
      <p>
      <hr>
      <i>{{ text }}</i>
      <hr>
      <p>
        is evaluated by our AI as <b>{{worth_watch}}</b>.
      <p> 
        Evaluted score: {{ goodness_prediction }}/10
            </p>
      <br>
      <br>
      Here is some recommendations of movies worth to watch:
      <hr>
      {% for recommendation in recommendation_list %}
      <a href="https://www.themoviedb.org/movie/{{ recommendation[0] }}">{{ recommendation[1] }}</a>          {{ recommendation[2] }}/10
      <hr>
      {% endfor %}
      <br>
      <p>
        Similar movies have on average following statistics:
        <li>Estimated gross: {{estimated_gross}} USD
        <li>Estimated runtime: {{estimated_runtime}} minutes
        <li>Estimated voteaverage on TMBD: {{estimated_voteaverage}}/10
      </p>
      <form action="/" method="get">
          <button type="submit" class="btn btn-primary">Try again?</button>
        </div>
        <p>
      </form>
    </div>
  </div>
</div>


